* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0px, -20px;
}
.location,
.tele {
    margin: 10px;
    padding: 10px;
}

.icon {
    margin: 10px;
    padding: 10px;
    border: solid #dc7537 2px;
    border-radius: 10px;
}
.icon:hover {
    border: solid white 2px;
    border-radius: 10px;
    background-color: white;
    transition: 1s;
}

.navbar {
    position: sticky;
    top: 0;
}
